<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Restore path for msbuild. -->
    <add key="RestorePackagesPath" value="packages" />
    <!-- Restore path for Nuget, just in case. -->
    <add key="globalPackagesFolder" value="packages" />
    <add key="repositoryPath" value="packages" />
  </config>
</configuration>
